doctype html
html(lang="en")
  head
    link(rel="shortcut icon" href="")
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - const title = 'Daily Indonesia COVID-19 Cases  - Covidn';
    - const description = `${title}, National and Provinces`;
    title= title
    meta(name="description" content=description)
    meta(name="keywords" content="Daily Indonesia COVID-19 Cases, National and Provinces")
    meta(name="author" content="andry.yosua@gmail.com")

    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:description" content=description)
    meta(property="og:url" content="https://aiosk.github.io/covidn/")
    meta(property="og:image" content="https://aiosk.github.io/covidn/img/Chart_NATIONAL.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="600")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:type" content="website")
    meta(name="twitter:site" content="@andry_yosua")
    meta(name="twitter:creator" content="@andry_yosua")
    //- meta(name="twitter:image" content="https://aiosk.github.io/covidn/img/Chart_NATIONAL.jpg")
    //- meta.foundation-mq
  body.grid-container
    h4.text-center Daily Indonesia COVID-19 cases
    h5.text-center National and Provinces
      .clearfix
        a.float-right(href='https://github.com/aiosk/covidn')
          img.lazy(alt="GitHub stars" data-src="https://img.shields.io/github/stars/aiosk/covidn?logo=github&style=for-the-badge")
    #chartHelpText.help-text.callout.warning
      ul
        li.mobile For best results please view in #[strong landscape] mode
        li.mobile Click #[img.lazy(data-src="img/baseline_get_app_black_18dp.png" alt="download chart")] to save chart as image
        li.mobile Click #[img.lazy(data-src="img/baseline_backup_table_black_18dp.png" alt="download raw" title="download raw")] to save chart raw data
        li.mobile #[strong Tap or Touch] chart bar to see case number
        li.mobile #[strong Tap or Touch] chart legend to show/hide chart data
        li.desktop Click #[img.lazy(data-src="img/baseline_fullscreen_black_18dp.png" alt="fullscreen")] to toggle chart #[strong full-width] mode
        li.desktop Click #[img.lazy(data-src="img/baseline_get_app_black_18dp.png" alt="download")] to save chart as image
        li.desktop Click #[img.lazy(data-src="img/baseline_backup_table_black_18dp.png" alt="download raw" title="download raw")] to save chart raw data
        li.desktop #[strong Hover mouse] on chart bar to see case number
        li.desktop #[strong Click] chart legend to show/hide chart data
    - const zones = [ "NATIONAL", "DKI_JAKARTA", "JAWA_BARAT", "JAWA_TIMUR", "JAWA_TENGAH", "SULAWESI_SELATAN", "BANTEN", "NUSA_TENGGARA_BARAT", "BALI", "PAPUA", "KALIMANTAN_SELATAN", "SUMATERA_BARAT", "SUMATERA_SELATAN", "KALIMANTAN_TENGAH", "KALIMANTAN_TIMUR", "SUMATERA_UTARA", "DAERAH_ISTIMEWA_YOGYAKARTA", "KALIMANTAN_UTARA", "KEPULAUAN_RIAU", "KALIMANTAN_BARAT", "SULAWESI_TENGGARA", "LAMPUNG", "SULAWESI_UTARA", "SULAWESI_TENGAH", "RIAU", "PAPUA_BARAT", "SULAWESI_BARAT", "JAMBI", "MALUKU_UTARA", "MALUKU", "GORONTALO", "KEPULAUAN_BANGKA_BELITUNG", "ACEH", "BENGKULU", "NUSA_TENGGARA_TIMUR", ]
    form.callout.secondary
      .grid-x.periods
        .cell.xlarge-3
          label(for='periods') #[span 14] days period
        .cell.xlarge-9
          input#periods(type='range' min='1' max='21' step='1' value='14' aria-describedby="periodsHelpText")
          p#periodsHelpText.help-text Try smaller or larger data periods by sliding (tap/click => hold => move) slider to change days period.#[br]#[strong Smaller] day periods will generate complicated chart data, while #[strong larger] day periods will generate simplified chart data. Use wisely.
      .grid-x
        .cell.xlarge-3
          label(for='zone') Chart
        .cell.xlarge-9

          select(multiple)#zone
            each val in zones
              option(value=val)= val.split("_").join(" ")
          p.help-text i don't like to scroll, i want to select some chart
      .grid-x.align-right.hide
        .cell
          button.button(type='submit') Submit


    #myChart.grid-x.xlarge-up-2(aria-describedby="chartHelpText")
      each val in zones
        .cell.callout(class=val=='NATIONAL'?'width-100':'')
          .action.grid-x
            .cell.small-12.medium-4
              .loader
              a.icon.download-raw(href=`https://raw.githubusercontent.com/aiosk/covidn/master/cli/dist/csv/${val}.csv` download=`${val}.csv`): img.lazy(data-src="img/baseline_backup_table_black_18dp.png" alt="download raw" title="download raw")
              a.icon.download-chart: img.lazy(data-src="img/baseline_get_app_black_18dp.png" alt="download chart" title='download chart')
              a.icon.fullscreen.show-for-xlarge: img.lazy(data-src="img/baseline_fullscreen_black_18dp.png" alt="fullscreen")
            .cell.small-12.medium-8
              .legend.grid-x.small-up-2
          canvas(id=`Chart_${val}`)
            //- .float-right
            //-   a(href=`#Chart_${val}`).anchor: img(data-src="img/baseline_link_black_18dp.png" alt="anchor")

    button.button.small#top
      img.lazy(data-src="img/baseline_vertical_align_top_black_18dp.png" alt="Scroll to top")

    link(rel="stylesheet" href=`css/foundation-global.css`)
    link(rel="stylesheet" href=`css/foundation.css` media="print" onload="this.media='all'")
    link(rel="stylesheet" href=`css/app.css` media="print" onload="this.media='all'")
    script(defer src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js")
    script(defer src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js")

    script(src="https://cdn.jsdelivr.net/npm/observable-slim@0.1.5/proxy.min.js")
    script(src="https://cdn.jsdelivr.net/npm/observable-slim@0.1.5/observable-slim.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
    script(defer src="https://cdn.jsdelivr.net/npm/chartjs-plugin-watermark@1.0.3/chartjs-plugin-watermark.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.core.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.util.mediaQuery.min.js")
    script(defer src="js/app.js")

